@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500&display=swap");
body {
  background-color: #F4F8FF;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  margin: 0px; }

H1.admin {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0px 0px 8px;
  color: #1d1d1d; }

H2.admin {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #1d1d1d; }

H3.admin {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 8px;
  color: #1d1d1d; }

H3.tile-heading {
  font-size: 18px;
  font-weight: 500;
  color: #004fef;
  background: #e5edfd;
  padding: 8px;
  margin: 0 0 16px 0;
  border-radius: 4px;
  text-align: center; }

button.admin {
  min-width: auto;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: auto;
  position: relative;
  border-radius: 3px;
  padding: 8px 24px;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  display: inline-flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-style: none;
  margin: 4px; }
  button.admin svg {
    font-size: 17px; }
  button.admin.primary {
    background-color: #004fef;
    color: white; }
    button.admin.primary:hover {
      background: #003ebc; }
  button.admin.ghost {
    background-color: transparent;
    border: 2px solid #004fef;
    color: #004fef; }
    button.admin.ghost:hover {
      background: #F4F8FF;
      border: 2px solid #003ebc;
      color: #003ebc; }
  button.admin.toggle {
    background-color: transparent;
    border: 2px solid #004fef;
    color: #004fef; }
    button.admin.toggle:hover {
      background: #F4F8FF;
      border: 2px solid #003ebc;
      color: #003ebc; }
    button.admin.toggle.selected {
      border: 2px solid #3ddc97;
      background-color: #3ddc97;
      color: #1d1d1d; }
      button.admin.toggle.selected:hover {
        border: 2px solid #23c37e;
        background-color: #23c37e; }
  button.admin.full-width {
    width: 100%; }

.scheduling-link {
  display: flex;
  align-items: center;
  background: #e5edfd;
  padding: 8px 16px;
  color: #004fef;
  font-weight: 500;
  cursor: pointer; }
  .scheduling-link .text {
    font-size: 18px; }
  .scheduling-link .icon {
    font-size: 24px;
    line-height: 22px;
    margin-left: 8px; }
  .scheduling-link:hover {
    background: #cdddfb; }

.wrapper {
  padding: 16px; }
  .wrapper .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    flex: 0 1 auto; }
    .wrapper .content.dashboard {
      margin-top: 48px;
      flex-wrap: wrap; }

.column {
  display: block;
  box-sizing: border-box; }
  .column .column-heading {
    margin-bottom: 24px; }
    .column .column-heading H2 {
      font-size: 21px; }
      @media only screen and (min-width: 0em) {
        .column .column-heading H2 {
          margin: 16px 0px 12px; } }
      @media only screen and (min-width: 48em) {
        .column .column-heading H2 {
          margin: 0px 0px 12px; } }
    .column .column-heading HR {
      clear: both; }
    .column .column-heading .timer {
      float: right;
      background: #e5edfd;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 12px;
      margin-top: -13px; }
      .column .column-heading .timer .number {
        font-size: 18px;
        font-weight: 500;
        background: #D77615;
        height: 36px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        border-radius: 18px;
        margin-right: 8px;
        padding: 0 8px; }
      .column .column-heading .timer .minutes {
        font-size: 14px;
        line-height: 14px; }
      .column .column-heading .timer button {
        padding: 4px 12px;
        margin-left: 16px; }
  .column.column-one-third {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    flex: 0 0 auto; }
    @media only screen and (min-width: 0em) {
      .column.column-one-third {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 48em) {
      .column.column-one-third {
        flex-basis: 33.3333%;
        max-width: 33.3333%; } }
    @media only screen and (min-width: 62em) {
      .column.column-one-third {
        flex-basis: 33.3333%;
        max-width: 33.3333%; } }
  .column.column-two-third {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    flex: 0 0 auto; }
    @media only screen and (min-width: 0em) {
      .column.column-two-third {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 48em) {
      .column.column-two-third {
        flex-basis: 66.6667%;
        max-width: 66.6667%; } }
    @media only screen and (min-width: 62em) {
      .column.column-two-third {
        flex-basis: 66.6667%;
        max-width: 66.6667%; } }
  .column.column-full-width {
    flex-basis: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    flex: 0 0 auto; }

.tab-navigation {
  display: table;
  padding-inline-start: 0px;
  width: 100%;
  list-style: none;
  margin: 0px; }
  .tab-navigation .item {
    display: inline-block;
    list-style: none;
    padding: 2px; }
    @media only screen and (min-width: 0em) {
      .tab-navigation .item {
        min-width: 100px;
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .tab-navigation .item {
        min-width: 200px;
        font-size: 18px; } }
    .tab-navigation .item a {
      color: #1d1d1d;
      display: block;
      padding-left: 4px;
      cursor: pointer;
      text-decoration: none;
      transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .tab-navigation .item.selected {
      font-weight: 500;
      border-bottom: 4px solid #643BA2; }

hr.admin {
  margin: -2px 0px 0px;
  border-style: none none solid;
  border-image: initial;
  border-bottom: 2px solid #ccdcfc; }

.card {
  cursor: pointer;
  color: #1d1d1d;
  text-decoration: none;
  outline: none;
  display: block;
  box-sizing: border-box;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 24px; }
  @media only screen and (min-width: 0em) {
    .card {
      flex-basis: 100%;
      max-width: 100%; } }
  @media only screen and (min-width: 48em) {
    .card {
      flex-basis: 50%;
      max-width: 50%; } }
  @media only screen and (min-width: 62em) {
    .card {
      flex-basis: 25%;
      max-width: 25%; } }
  .card .styled {
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    height: 238px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
    position: relative;
    background: white;
    border-radius: 4px;
    overflow: hidden; }
    .card .styled div {
      display: block; }
    .card .styled:hover {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 16px 32px;
      transform: translateY(-4px); }
    .card .styled h3 {
      color: #1d1d1d;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 500;
      vertical-align: middle;
      margin: 8px; }
    .card .styled .icon {
      width: 72px;
      height: 72px;
      background-color: #e5edfd;
      margin: auto;
      border-radius: 72px;
      display: flex;
      color: #004fef;
      font-size: 24px; }
      .card .styled .icon svg {
        vertical-align: middle;
        margin: auto; }

.tile {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
  position: relative;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 24px; }
  .tile.status {
    width: calc(100% - 8px);
    border-left: 8px solid #3ddc97; }
  @media only screen and (min-width: 0em) {
    .tile .tile-content {
      padding: 0;
      width: 100%; } }
  @media only screen and (min-width: 48em) {
    .tile .tile-content {
      padding: 0;
      width: 100%; } }
  @media only screen and (min-width: 62em) {
    .tile .tile-content {
      padding: 16px;
      display: flex; } }
  @media only screen and (min-width: 0em) {
    .tile .tile-content .tile-details {
      padding: 16px; } }
  @media only screen and (min-width: 48em) {
    .tile .tile-content .tile-details {
      padding: 16px; } }
  @media only screen and (min-width: 62em) {
    .tile .tile-content .tile-details {
      flex-basis: 70%;
      padding: 0 16px 0 0; }
      .tile .tile-content .tile-details.full-width {
        flex-basis: 100%;
        padding: 0; } }
  .tile .tile-content .tile-details .input {
    margin: 0 0 16px 0; }
    .tile .tile-content .tile-details .input label {
      font-size: 14px;
      display: block; }
    .tile .tile-content .tile-details .input select {
      width: 100%; }
  .tile .tile-content .tile-details a {
    color: #004fef; }
  .tile .tile-content .tile-details .tile-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px; }
  .tile .tile-content .tile-details table {
    margin: 0 0 16px 0;
    border-spacing: 0; }
    @media only screen and (min-width: 0em) {
      .tile .tile-content .tile-details table th {
        display: block;
        font-weight: 500;
        text-align: left;
        padding: 0; }
      .tile .tile-content .tile-details table td {
        display: block;
        padding: 0 0 12px 0; } }
    @media only screen and (min-width: 48em) {
      .tile .tile-content .tile-details table th {
        display: block;
        font-weight: 500;
        text-align: left;
        padding: 0; }
      .tile .tile-content .tile-details table td {
        display: block;
        padding: 0 0 12px 0; } }
    @media only screen and (min-width: 62em) {
      .tile .tile-content .tile-details table th {
        display: table-cell;
        font-weight: 500;
        text-align: left;
        padding: 4px 16px 4px 0; }
      .tile .tile-content .tile-details table td {
        display: table-cell;
        padding: 4px 0; } }
  .tile .tile-content .tile-profile {
    background-color: #fcfcfc;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end; }
    @media only screen and (min-width: 0em) {
      .tile .tile-content .tile-profile {
        display: flex;
        height: 72px;
        padding: 0 12px;
        border-top: 1px solid #e3e3e3;
        border-left: 0px; }
        .tile .tile-content .tile-profile button.toggle {
          position: absolute;
          top: 12px;
          right: 12px;
          padding: 8px; }
        .tile .tile-content .tile-profile button.full-width {
          width: auto; } }
    @media only screen and (min-width: 48em) {
      .tile .tile-content .tile-profile {
        display: flex;
        height: 72px;
        padding: 0 12px;
        border-top: 1px solid #e3e3e3;
        border-left: 0px; }
        .tile .tile-content .tile-profile button.toggle {
          position: absolute;
          top: 12px;
          right: 12px;
          padding: 8px; }
        .tile .tile-content .tile-profile button.full-width {
          width: auto; } }
    @media only screen and (min-width: 62em) {
      .tile .tile-content .tile-profile {
        flex-basis: 30%;
        flex-direction: column;
        bottom: 0px;
        height: 100%;
        padding: 16px;
        margin: -16px -16px -16px 0px;
        left: initial;
        right: 0px;
        top: 0px;
        border-left: 1px solid #e3e3e3;
        border-top: 0px; }
        .tile .tile-content .tile-profile button.full-width {
          width: 100%; } }
    .tile .tile-content .tile-profile .tile-avatar {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      color: white;
      font-weight: 500;
      background-color: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: #b4b4b4;
      border-image: initial;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%; }
      @media only screen and (min-width: 0em) {
        .tile .tile-content .tile-profile .tile-avatar {
          position: absolute;
          left: 12px;
          width: 46px;
          height: 46px; } }
      @media only screen and (min-width: 48em) {
        .tile .tile-content .tile-profile .tile-avatar {
          position: absolute;
          left: 12px;
          width: 46px;
          height: 46px; } }
      @media only screen and (min-width: 62em) {
        .tile .tile-content .tile-profile .tile-avatar {
          top: 12px;
          left: auto;
          height: 96px;
          width: 96px;
          margin: 16px auto; } }
      .tile .tile-content .tile-profile .tile-avatar .icon {
        margin: auto;
        display: flex; }
        @media only screen and (min-width: 0em) {
          .tile .tile-content .tile-profile .tile-avatar .icon {
            width: 24px;
            height: 24px; } }
        @media only screen and (min-width: 48em) {
          .tile .tile-content .tile-profile .tile-avatar .icon {
            width: 24px;
            height: 24px; } }
        @media only screen and (min-width: 62em) {
          .tile .tile-content .tile-profile .tile-avatar .icon {
            width: 40px;
            height: 40px; } }
        .tile .tile-content .tile-profile .tile-avatar .icon svg {
          color: #CFCFD3;
          margin: auto; }
          @media only screen and (min-width: 0em) {
            .tile .tile-content .tile-profile .tile-avatar .icon svg {
              font-size: 24px; } }
          @media only screen and (min-width: 48em) {
            .tile .tile-content .tile-profile .tile-avatar .icon svg {
              font-size: 24px; } }
          @media only screen and (min-width: 62em) {
            .tile .tile-content .tile-profile .tile-avatar .icon svg {
              font-size: 40px; } }

.search-criteria {
  border: 1px solid #CCDCFC;
  border-radius: 8px;
  padding: 16px; }
  .search-criteria h3 {
    margin: 0 0 16px 0; }
  .search-criteria P {
    margin: 0 0 16px 0;
    padding: 0; }
  .search-criteria table {
    margin: 0 0 16px 0;
    border-spacing: 0; }
    @media only screen and (min-width: 0em) {
      .search-criteria table th {
        display: block;
        font-weight: 500;
        text-align: left;
        padding: 0; }
      .search-criteria table td {
        display: block;
        padding: 0 0 12px 0; } }
    @media only screen and (min-width: 48em) {
      .search-criteria table th {
        display: block;
        font-weight: 500;
        text-align: left;
        padding: 0; }
      .search-criteria table td {
        display: block;
        padding: 0 0 12px 0; } }
    @media only screen and (min-width: 62em) {
      .search-criteria table th {
        display: table-cell;
        font-weight: 500;
        text-align: left;
        padding: 4px 16px 4px 0; }
      .search-criteria table td {
        display: table-cell;
        padding: 4px 0; } }

.day-calendar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  @media only screen and (min-width: 0em) {
    .day-calendar {
      flex-direction: column; } }
  @media only screen and (min-width: 48em) {
    .day-calendar {
      flex-direction: row; } }
  .day-calendar .day-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 12px 0 0;
    border-radius: 4px; }
    @media only screen and (min-width: 0em) {
      .day-calendar .day-column {
        width: 100%; } }
    @media only screen and (min-width: 48em) {
      .day-calendar .day-column {
        width: 128px; } }
    .day-calendar .day-column .input {
      margin: 0 0 16px 0; }
      .day-calendar .day-column .input label {
        font-size: 14px;
        display: block; }
      .day-calendar .day-column .input select {
        width: 100%; }
    .day-calendar .day-column .input-checkbox {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      font-size: 14px; }
    .day-calendar .day-column input[type='checkbox'] {
      width: 14px;
      height: 14px;
      margin-right: 8px; }
    .day-calendar .day-column .day {
      display: flex; }
      @media only screen and (min-width: 0em) {
        .day-calendar .day-column .day {
          height: auto;
          background: none;
          padding-bottom: 8px; }
          .day-calendar .day-column .day .icon {
            display: none; } }
      @media only screen and (min-width: 48em) {
        .day-calendar .day-column .day {
          height: 107px;
          background: #e5edfd;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 0px; }
          .day-calendar .day-column .day .icon {
            display: block;
            font-size: 36px;
            color: #99b9f9; } }
      .day-calendar .day-column .day .input-checkbox {
        align-items: center;
        justify-content: center;
        font-size: 16px; }
    .day-calendar .day-column .day-details {
      padding: 16px;
      border-bottom: 2px solid #CCDCFC;
      margin-bottom: 8px; }
      .day-calendar .day-column .day-details .input-checkbox {
        margin-bottom: 16px; }
    @media only screen and (min-width: 0em) {
      .day-calendar .day-column.selected {
        width: 100%; } }
    @media only screen and (min-width: 48em) {
      .day-calendar .day-column.selected {
        width: 250px; } }
    @media only screen and (min-width: 0em) {
      .day-calendar .day-column.selected .day-details {
        background: #b2cafa;
        padding: 8px; } }
    @media only screen and (min-width: 48em) {
      .day-calendar .day-column.selected .day-details {
        background: #e5edfd;
        padding: 16px; } }
    @media only screen and (min-width: 0em) {
      .day-calendar .day-column.selected .day {
        background: #b2cafa;
        padding: 8px 0 0 8px; } }
    @media only screen and (min-width: 48em) {
      .day-calendar .day-column.selected .day {
        background: #b2cafa; } }
    .day-calendar .day-column.selected .day .icon {
      color: #004fef; }

.time-calendar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }
  .time-calendar .day-column {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0;
    border-radius: 4px;
    padding: 4px; }
    .time-calendar .day-column:nth-child(even) {
      background: #e5edfd; }
    .time-calendar .day-column .day {
      color: #004fef;
      text-align: center;
      margin: 16px 0; }
    .time-calendar .day-column .time {
      margin: 4px;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #D0D0D0;
      overflow: auto;
      float: left; }
      .time-calendar .day-column .time label {
        width: 5.0em; }
        .time-calendar .day-column .time label span {
          text-align: center;
          padding: 5px 5px;
          display: block; }
        .time-calendar .day-column .time label input {
          position: absolute;
          opacity: 0; }
          .time-calendar .day-column .time label input:checked + span {
            background-color: #3ddc97; }

/*# sourceMappingURL=berlitz.css.map */
